
*{
  font-family: 'Share Tech', sans-serif;
}

body {
  
}

h2 {
  margin:0 auto;
}
#demo {
  width: 30%;
  margin:0 auto;
  position:relative;
  overflow:hidden;
  height: 70px;
  margin:2px solid black;
  border:2px solid black;
  padding: 8px;
  font-size:20px;
}
#one {
  position: absolute;
  width: 150px;
  height: 60px;
  color:transparent;
  background-position: 0px 4px;
  
  font-family: Arial, Helvetica, sans-serif;
  
}
#one p {
  
  margin-top: 0px;
  margin-left: 60px;
  line-height: 58px;
}

#two {
  position: absolute;
  width: 150px;
  height: 60px;
  color:transparent;
  background-position: 0px 4px;
  
  font-family: Arial, Helvetica, sans-serif;
  
}
#two p {
  
  margin-top: 0px;
  margin-left: 60px;
  line-height: 58px;
}

#three {
  position: absolute;
  width: 150px;
  height: 60px;
  color:transparent;
  background-position: 0px 4px;
  
  font-family: Arial, Helvetica, sans-serif;
  
}
#three p {
  
  margin-top: 0px;
  margin-left: 60px;
  line-height: 58px;
}