body {
  
}
#demo {
  width: 900px;
  height: 70px;
  margin:2px solid black;
  padding: 8px;
}
#one {
  position: absolute;
  width: 150px;
  height: 60px;
  color:transparent;
  background-position: 0px 4px;
  
  font-family: Arial, Helvetica, sans-serif;
  
}
#one p {
  font-size:17px;
  margin-top: 0px;
  margin-left: 60px;
  line-height: 58px;
}

#two {
  position: absolute;
  width: 150px;
  height: 60px;
  color:transparent;
  background-position: 0px 4px;
  
  font-family: Arial, Helvetica, sans-serif;
  
}
#two p {
  font-size:17px;
  margin-top: 0px;
  margin-left: 60px;
  line-height: 58px;
}

#three {
  position: absolute;
  width: 150px;
  height: 60px;
  color:transparent;
  background-position: 0px 4px;
  
  font-family: Arial, Helvetica, sans-serif;
  
}
#three p {
  font-size:17px;
  margin-top: 0px;
  margin-left: 60px;
  line-height: 58px;
}